body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #2C3E50

a
  color: #00B7FF
  text-decoration: none

#social
  margin: auto
  width: 690px

#title
  color: #ECF0F1
  margin-bottom: 25px
  font-size: 70px


.sm
  display: inline-block
  margin: 5px